<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/jquery.js"></script>
    
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <label>Bus ID<input id='bus_id' name='bus id'/></label>
    <div id="status"></div>
    <div id="data"></div>
    <div id="shove"></div>

	  <button id="reset">Click!</button>
    <button id="broadcast">Data Box!</button>

    <hr/>
    <div id="my-channel"></div>
    <form method="post" action="/post/"><br/>
      channel:<input type="text" name="channel"><br/>
      event:<input type="text" name="event"><br/>
      data:<input type="text" name="data"><br/>
      <input type="submit" value="Submit">
    </form>

    <hr/>
    <div id="api"></div>
    <button id="simulate">Simulate</buttom>

  <script src="/js/main.js"></script>
  </body>
</html>